<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Rubik+Mono+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Quicksand|Rubik+Mono+One&display=swap" rel="stylesheet">
    <title>Roomba 614</title>
</head>
<body>
    <main>
        <h1 class="hidden">Roomba 614 Robot Vacuum</h1>
        <header id="main-header">
            <img class="logo" src="images/logo.png" alt="logo">
            <nav class="main-nav">
                <h2 class="hidden">Main Navigation</h2>
                <img class="burger" src="images/burger.svg" alt="burger menu">
                <ul class="nav">
                    <li><a href="#hero">Home</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#buy">Order</a></li>
                </ul>
            </nav>
            <h2 class="title">Roomba&#0174 614 Robot Vaccuum</h2>
        </header>
        <section id="hero">
            <h3>Cleans hard, so you don’t have to.</h3>
            <p>Innovating for over 25 years, iRobot® products are engineered to make everyday clean your reality. The Roomba 600 series is a great place to start cleaning your home smarter, and starting at $399.99, the price point is smart too.</p>
            <button>Place Order</button>
        </section>
        <section id="features">
            <h2>Roomba&#0174 614 Features</h2>
            <section class="feature odd">
                <img src="images/feature1.jpg" alt="product img">
                <div class="feature-text"> 
                    <h3>Two brushes that totally get teamwork.</h3>
                    <p>Dual Multi-Surface Brushes work together to grab dust, dirt, and large debris to help thoroughly clean your floors. The first brush loosens, lifts, and pulls in dust, dirt, and hair from floors and in carpet, the second accelerates debris into the suction channel.</p>
                </div>
            </section>
            <section class="feature even">
                <img src="images/feature2.jpg" alt="product img">
                <div class="feature-text">    
                    <h3>Dirt and dust can’t hide.</h3>
                    <p>The 3-Stage Cleaning System packs a serious punch when it comes to messes. With Dual Multi-Surface Brushes and a specially designed Edge-Sweeping Brush, no crumb is safe.</p>
                </div>
            </section>
            <section class="feature odd">
                <img src="images/feature3.jpg" alt="product img">
                <div class="feature-text">    
                    <h3>Needs no time adjusting.</h3>
                    <p>The Auto-Adjust Cleaning Head adapts its height to keep the Dual Multi-Surface Brushes in close contact with different floor surfaces, directly engaging with both hard floors and carpets.</p>
                </div>
            </section>
            <section class="feature even">
                <img src="images/feature4.jpg" alt="product img">
                <div class="feature-text">    
                    <h3>Senses and eliminates dirt.</h3>
                    <p>Dirt Detect sensors alert your robot about dirtier areas of your home, then clean them more thoroughly, so high-traffic spots stay as clean as the rest of the house.</p>
                </div>
            </section>
            <section class="feature odd">
                <img src="images/feature5.jpg" alt="product img">
                <div class="feature-text">    
                    <h3>Take cleaning to the edge.</h3>
                    <p>The Edge-Sweeping Brush is specially designed at a 27-degree angle to sweep debris away from edges and corners.</p>
                </div>
            </section>
        </section>
        <section id="order">
            <h2>Get It Now!</h2>
            <p>You can be using Roomba 614 as soon as next week if you oder now! It is quick and easy. Just fill out the form below. You will be taken to our paymnt page where you can choose your preferred payment method.</p>
            <form id="order-form">
                <input type="text" placeholder="First Name" required>
                <input type="text" placeholder="Last Name" required>
                <input type="email" placeholder="Email" required>
                <input type="tel" placeholder="Phone" required>
                <input type="text" placeholder="Street Address" required>
                <button>Place Order</button>
            </form>
        </section>
        <footer id="main-footer">
            <p>iRobot&#0174 2019</p>
        </footer>
    </main> 
    <script src="js/main.js"></script>
</body>
</html>